body
{
	width: 330px;
	height: 262px;
}
#calculator
{

	width:330px;
	height:260px;
	background-color: #9cd1e2;
	/*background: linear-gradient(#9dd2ea, #8bceec);*/
	/*圆角矩形*/
	border-radius: 3px;
	/*阴影*/
	box-shadow: 2px 3px #009de4,0px 10px 15px rgba(0,0,0,2);

	cursor:pointer;
}
span
{
	display: block;
	width:66px;
	height:36px;
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #77A6BB;
	font:bold 16px/36px Georgia,'Times New Roman',sans-serif;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	position: relative;
	top:0;


}
	span:hover
	{
		background-color: #9c89f6;
	}

	span:active
	{
		top:2px;
	}


	span.clear
	{
		background-color: #FF9FAB;
		float: left;
		margin: 19px 9px 14px 24px;

	}

		span.clear:hover
		{
			background-color:#f68991;
		}

	span.text
	{
		display: none;
	}


div.screen
{
	background-color: #7AA6BA;
	width:198px;
	height:37px;
	margin: 19px 9px 14px 0px;
	padding: 0px 5px;
	text-align: right;
	font:bold 14px/36px 'Times New Roman',sans-serif;
	float: left;
	border-radius: 3px;
	box-shadow: 0px -2px #628595;
	overflow: hidden;
	
}

div.keys
{
	padding-left: 24px;
}
div.keys span
{
	float:left;
	margin:0px 6px 6px 0px;
}